/* DONOR CONTENTS */
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 20px;
}

hr {
    border: none;
    border-radius: 10px;
    height: 2.5px;
    background-color: #2DAF89;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    background: white;
}

table:hover th {
    border: 1px solid #2DAF89;
    background-color: #2DAF89;
}

table:hover td {
    border: 1px solid #2DAF89;
}

th, td {
    border: 1px solid #9d9d9d;
    padding: 8px 12px;
    text-align: center;
}

th {
    background: #9d9d9d;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.status-table {
    margin-left: 5px;
    margin-right: 5px;
}

.status-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
